.header{
    background-color: rgb(253, 253, 253);
    height: 80px;
    width: 100%;
    padding: 10px 100px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
